.panel-form-logo {
  position: relative;
  top: 80px;
  text-align: center;
}
.panel-form {
  margin-top: 100px;
}
.panel-form .bottom-text {
  margin-top: 20px;
}
form .has-error .control-label {
  color: #333;
}
