<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SteemData Notify</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="ui container">
    {% block content %}
    {% endblock %}
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
<script>
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
</script>
{% block scripts %}
{% endblock %}
</body>
</html>