{% extends 'base.html' %}

{% block content %}
  <h1 class="ui center aligned header">Settings for {{ username }}</h1>

  <form method="post" class="ui form" novalidate="">

    <div class="ui one column stackable grid container">
      <div class="four wide column"><!--dummy padding--></div>

      <div class="ui eight wide column">
        {% if settings._id and not settings.confirmed %}
          <div class="ui success message visible">
            <p>Please confirm your update by sending STEEM 0.001 with the following memo: <strong>{{ settings._id }}</strong> to <strong>@{{ config.STEEM_WALLET }}</strong>.</p>
          </div>
        {% endif %}

        {% if form.errors %}
          <div class="ui error message visible">
            <div class="header">Saving settings failed</div>
            <ul>
              {% for key in form.errors %}
                <li>{{ form.errors[key].0 }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div class="field {% if form.errors.email %}error{% endif %}">
          {{ form.email.label }}
          {{ form.email(placeholder='Your email address') }}
        </div>
        <div class="field {% if form.errors.telegram_channel_id %}error{% endif %}">
          {{ form.telegram_channel_id.label }}
          {{ form.telegram_channel_id(placeholder='e.g: @mychannel') }}
        </div>

        <p><strong>Notify me for these events:</strong></p>

        <div class="field">
          <div class="ui checkbox">
            {{ form.account_update }}
            {{ form.account_update.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.change_recovery_account }}
            {{ form.change_recovery_account.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.request_account_recovery }}
            {{ form.request_account_recovery.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.transfer }}
            {{ form.transfer.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.transfer_from_savings }}
            {{ form.transfer_from_savings.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.set_withdraw_vesting_route }}
            {{ form.set_withdraw_vesting_route.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.withdraw_vesting }}
            {{ form.withdraw_vesting.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.fill_order }}
            {{ form.fill_order.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.fill_convert_request }}
            {{ form.fill_convert_request.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.fill_transfer_from_savings }}
            {{ form.fill_transfer_from_savings.label }}
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            {{ form.fill_vesting_withdraw }}
            {{ form.fill_vesting_withdraw.label }}
          </div>
        </div>

        {% if settings.confirmed == False and last_settings %}
          <div class="ui horizontal divider">
            Previous settings
          </div>
          {% if last_settings.email %}
            <div class="ui green label">
              <i class="mail icon"></i> {{ last_settings.email }}
            </div>
          {% endif %}
          {% if last_settings.telegram_channel_id %}
            <div class="ui green label">
              <i class="send icon"></i> {{ last_settings.telegram_channel_id }}
            </div>
          {% endif %}
          <div class="ui {% if last_settings.account_update %}green{% endif %} label">
            Account update <i class="{% if last_settings.account_update %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.change_recovery_account %}green{% endif %} label">
            Change recovery account <i class="{% if last_settings.change_recovery_account %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.request_account_recovery %}green{% endif %} label">
            Request account recovery <i class="{% if last_settings.request_account_recovery %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.transfer %}green{% endif %} label">
            Transfer <i class="{% if last_settings.transfer %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.transfer_from_savings %}green{% endif %} label">
            Transfer from savings <i class="{% if last_settings.transfer_from_savings %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.set_withdraw_vesting_route %}green{% endif %} label">
            Set withdraw vesting route <i class="{% if last_settings.set_withdraw_vesting_route %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.withdraw_vesting %}green{% endif %} label">
            Withdraw vesting <i class="{% if last_settings.withdraw_vesting %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.fill_order %}green{% endif %} label">
            Fill order <i class="{% if last_settings.fill_order %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.fill_convert_request %}green{% endif %} label">
            Fill convert request <i class="{% if last_settings.fill_convert_request %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.fill_transfer_from_savings %}green{% endif %} label">
            Fill transfer from savings <i class="{% if last_settings.fill_transfer_from_savings %}check{% else %}delete{% endif %} icon"></i>
          </div>
          <div class="ui {% if last_settings.fill_vesting_withdraw %}green{% endif %} label">
            Fill vesting withdraw<i class="{% if last_settings.fill_vesting_withdraw %}check{% else %}delete{% endif %} icon"></i>
          </div>
        {% endif %}

        <div class="ui divider"></div>
        <div class="ui error message"></div>
        <button class="ui primary fluid button">Save my settings</button>
        
      </div> <!--/.eight.wide.column-->
    </div> <!--/.container-->

  </form>
{% endblock %}
