{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel-form-logo">
        <h2>Steem Notifier</h2>
      </div>

      <div class="panel panel-default panel-form">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><strong>Sign In</strong></h3>
        </div>
        <div class="panel-body">
          {% if error %}
            <p class="alert alert-danger">
              <button class="close" data-dismiss="alert">&times;</button>
              {{ error }}
            </p>
          {% endif %}

          <form method="post" action="" novalidate="">
            {{ form.csrf_token }}
            <div class="form-group {% if form.errors.username %}has-error{% endif %}">
              {{ form.username.label }}
              {{ form.username(class='form-control') }}
              {% if form.errors.username %}
                <p class="help-block">{{ form.errors.username.0 }}</p>
              {% endif %}
            </div>
            <div class="form-group {% if form.errors.password %}has-error{% endif %}">
              {{ form.password.label }}
              {{ form.password(class='form-control') }}
              {% if form.errors.password %}
                <p class="help-block">{{ form.errors.password.0 }}</p>
              {% endif %}
            </div>
            <button class="btn btn-block btn-success" type="submit">Sign In</button>
          </form>
          <div class="bottom-text">
            <p>Don't have account yet? Please <a href="/users/register">sign up</a>.</p>
          </div>
        </div> <!-- /.panel-body -->
      </div> <!-- /.panel -->

    </div> <!-- /.col-md-6 -->
  </div> <!-- /.row -->
{% endblock %}
